#base_box {
	width: 760px;
}

#top_box {
}

#main_box {
}

#left_box {
	float: left;
	width: 450px;
}

#right_box {
	float: right;
	width: 300px;
}

#end_box {
	background-color : #eeFFFF;
	clear: both;
	width: 750px;
}
